<div class='coche'>
  <div class='bogie'>
    <div class='eje-1'>
      <div class='rueda' $CONDENADA$>$NRO$</div>
      <div class='rueda' $CONDENADA$>$NRO$</div>
    </div>
    <div class='eje-2'>
      <div class='rueda' $CONDENADA$>$NRO$</div>
      <div class='rueda' $CONDENADA$>$NRO$</div>
    </div>
  </div>
  <div class='bogie'>
    <div class='eje-1'>
      <div class='rueda' $CONDENADA$>$NRO$</div>
      <div class='rueda' $CONDENADA$>$NRO$</div>
    </div>
    <div class='eje-2'>
      <div class='rueda' $CONDENADA$>$NRO$</div>
      <div class='rueda' $CONDENADA$>$NRO$</div>
    </div>
  </div>
</div>
