.table-content-number-editing {
  .rs-table-cell-content {
    padding: 3.5px 10px;
  }
}

.input-number-with-buttons {
  input {
    text-align: center;
  }

  .rs-input-number-btn-group-vertical {
    display: none;
  }
}