<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="report.css">
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        $LOGO
      </div>
      <div class="header-right">
        $FECHA
      </div>
    </div>
    <div class="container">
      <div class="title">
        <div class="title-left">
          $LINEA
          $FLOTA
        </div>
        <div class="title-right">
          $FORMACION
        </div>
      </div>
      <table class="main-table">
        <tr>
          <th>
            #EACH TITULOS
          </th>
        </tr>
        <tr>
          <td>
            #EACH DATA
          </td>
        </tr>
      </table>
      <div class="footer">
        <ul>
          <li>
            Insturmentos
          </li>
          <li>
            Cabeceras
          </li>
          <li>
            Perfiles
          </li>
        </ul>
        <p>
          $ESQUEMA
        </p>
      </div>
    </div>
  </body>
</html>