//colors
$baseFontColor: #484538;
$dark: #221f21;
$white: #fcfcfc;
$primary: #f9db6d;
$primaryDark: #ecb45f;
$primaryLight: #fdf0c433;
$secondary: #48ada9;
$secondaryDark: #36827f;
$error: #f44336;
$errorDark: #c5352b;
$success: #37ab3c;
$successDark: #258b2a;

//typography
$baseFontSize: 1rem; // 16px
$smallFontSize: 0.875rem; // 14px
$baseLineHeight: 1.25rem; // 20px
$h1FontSize: 3rem; 
$h1LineHeight: 1;
$h2FontSize: 2.3rem;
$h3FontSize: 1.5rem; // 24px
$h4FontSize: 1.125rem; // 18px
$lightFontWeight: 300;
$boldFontWeight: 600;
$extraBoldFontWeight: 900;

// spacing
$spacer: 1rem; // 16px

// grid
$containerWidth: 700px;

//lines
$lineA: #4e9eff;
$lineB: #e53d00;
$lineC: #146faf;
$lineD: #13a047;
$lineE: #54428e;
$lineH: #f3de2c;
$linePM: #ffbc42;