@import "../../../globalStyles/variables.scss";

.export-panel {
  .rs{
    &-tag-group {
      margin: 10px;
      border: 2px solid $primary;
      border-radius: 7px;
      padding: 10px;
      &>.rs-tag {
        margin: 4px 2px;
        padding: 2px 8px;
      }
    }
    &-check-item {
      transition: ease-in 0.3s all;
    }
    &-check-item-focus {
      background-color: $primary;
    }
    &-check-item:not(.rs-checkbox-disabled):hover {
      transition: all ease-in 0.3ms;
      background-color: $primaryLight;
    }
  }
}