@import "../../../globalStyles/variables.scss";

.station-form {
  .no-data-found-wrapper {
    .rs-icon {
      color: $error;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      position: absolute;
    }
    p {
      color: $baseFontColor;
      transform: translate(-50%, 0);
      left: 50%;
      top: 80%;
      position: absolute;
    }
  }

  .react-colorful {
    display: inline-flex;
    width: 522px;
    padding-right: 30px;
    height: 6px;
    &__hue {
      height: 10px;
    }
    &__hue-pointer {
      width: 8px !important;  
      height: 17px !important;
      border-radius: 25% !important;
    }
    &__pointer {
      border: 1px solid white;
      width: 10px;
      height: 10px;
      border-radius: 25%;
    }
    &__saturation {
      display: none
    }
  }

  .add-profile-wrapper {
    margin-top: 8px;
  }
  .rs{ 
    &-input {
      width: 70px;
      margin-left: 17px;
      display: inline-block;
    }
    &-table-cell {
    top: 9px;
    }
  }
  .add-fleet {
    left: 73px;
    transition: ease-in 0.2s;
    &-moved {
      transform: translateX(-65px);
      transition: ease-in 0.2s;
      left: 73px;
    }
  }
}
