.fleet-form {
  .add-profile-wrapper {
    margin-top: 8px;
  }
  .rs{
    &-input {
      width: 135px;
      margin-left: 17px;
      display: inline-block;
    }
  }
  .add-fleet {
    left: 96px;
    transition: ease-in 0.2s;
    &-moved {
      transform: translateX(-90px);
      transition: ease-in 0.2s;
      left: 96px;
    }
  }
}
