.coche {
  background-color: white;
  border: 1px solid black;
  width: 250px;
  height: 65px;
  display: flex;
  justify-content: space-around;
  margin: 0 5px;
}

.formacion, .bogie{
  display: flex;
}

.eje-1 {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 37px 0 0 -12px black;
}

.eje-2 {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 10px;
  box-shadow: -37px 0 0 -12px black;
}

.rueda {
  width: 25px;
  height: 10px;
  background-color: white;
  border: 1px solid black ;
  text-align: center;
  font-size: 10px;
  padding: 2px 0;
  z-index: 1;
}

[condenada] {
  background-color: red;
  color: white;
}