<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='report.css' type="text/css">
    <title>Linea $LINEA$ - $FLOTA$ - Formacion $FORMACION$</title>
  </head>
  <body>
    <div class='container'>
      <table class='main-table'>
        <caption>
          <div class='title' style='--bkgr-color: $COLOR$'>
            <div class='title-left'>
              $FECHA$
            </div>
            <div class='fleet-wrapper'>
              <div class='title-right-top'>
                Linea $LINEA$ - 
                $FLOTA$
              </div>
              <div class='title-right-bot'>
                Formación $FORMACION$
              </div>
            </div>
          </div>
        </caption>
        <tbody>
          $HEADERS$
          $DATA$
        </tbody>
      </table> 
      <div class='esquema'>
        $ESQUEMA$
      </div>      
      <div class='footer'>
        <ul>
          $PERFILES$ 
          <li>
            Insturmento utilizado: 344-E-163
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>