<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='report.css'>
  </head>
  <body>
    <div class='header'>
      <div class='header-left'>
        $LOGO$
      </div>
      <div class='header-right'>
        $FECHA$
      </div>
    </div>
    <div class='container'>
      <div class='title'>
        <div class='title-left'>
          Linea $LINEA$ - 
          $FLOTA$
        </div>
        <div class='title-right'>
          Formación $FORMACION$
        </div>
      </div>
      <table class='main-table'>
        <tr>
          $HEADERS$
        </tr>
        $DATA$
      </table>
      <div class='footer'>
        <ul>
          <li>
            Insturmento utilizado: 344-E-166
          </li>
          <li>
            Cabeceras: $CABECERAS$
          </li>
          <li>
            Perfiles: $PERFILES$
          </li>
        </ul>
        <p>
          $ESQUEMA
        </p>
      </div>
    </div>
  </body>
</html>