:root {
  --black: #221f21;
  --red: #f44336;
  --shadow: #b9b9b934;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../../src/Fonts/RobotoMono-Light.eot');
    src: url('../../../src/Fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/RobotoMono-Light.woff2') format('woff2'),
        url('../../../src/Fonts/RobotoMono-Light.woff') format('woff'),
        url('../../../src/Fonts/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../../src/Fonts/RobotoMono-Bold.eot');
    src: url('../../../src/Fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('../../../src/Fonts/RobotoMono-Bold.woff') format('woff'),
        url('../../../src/Fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../../src/Fonts/RobotoMono-Regular.eot');
    src: url('../../../src/Fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../../../src/Fonts/RobotoMono-Regular.woff') format('woff'),
        url('../../../src/Fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../../src/Fonts/RobotoMono-Italic.eot');
    src: url('../../../src/Fonts/RobotoMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/RobotoMono-Italic.woff2') format('woff2'),
        url('../../../src/Fonts/RobotoMono-Italic.woff') format('woff'),
        url('../../../src/Fonts/RobotoMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/Fonts/Roboto-Bold.eot');
    src: url('../../../src/Fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/Roboto-Bold.woff2') format('woff2'),
        url('../../../src/Fonts/Roboto-Bold.woff') format('woff'),
        url('../../../src/Fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/Fonts/Roboto-Italic.eot');
    src: url('../../../src/Fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/Roboto-Italic.woff2') format('woff2'),
        url('../../../src/Fonts/Roboto-Italic.woff') format('woff'),
        url('../../../src/Fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/Fonts/Roboto-Regular.eot');
    src: url('../../../src/Fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../../src/Fonts/Roboto-Regular.woff') format('woff'),
        url('../../../src/Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/Fonts/Roboto-Light.eot');
    src: url('../../../src/Fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../src/Fonts/Roboto-Light.woff2') format('woff2'),
        url('../../../src/Fonts/Roboto-Light.woff') format('woff'),
        url('../../../src/Fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@page {
  size: A4;
  margin: 5mm 10mm 10mm 10mm;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding: 0;
  line-height: 1.2;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  padding: 5px 15px;
  background-color: darkslateblue;
  color: white;
  border: 2.5px solid var(--black);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  line-height: 1.2;
}

.title-right-top, .title-left  {
  font-size: 16px;
  font-weight: 200;
}

.title-left {
  align-self: flex-end;
  padding-bottom: 5px;
}

.main-table {
  text-align: center;
  border-collapse: collapse;
  border: 2.5px solid var(--black);
  outline-style: none;
  font-family: "Roboto Mono";
  font-size: 12px;
  table-layout: fixed;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.damned {
  background-color: var(--red);
  color: white;
  font-weight: 600;
  font-style: italic;
}

.references {
  font-weight: 400;
  font-style: italic;
  font-size: 10px;
  padding-bottom: 4px;
}
th { 
  background-color: var(--black);
  color: white;
  padding-bottom: 4px;
  padding-top: 3px;
  border-bottom: 1px solid grey;
}

td {
  padding: 2px;
  border: 1px solid var(--black);
  border-right: none;
  border-left: none;
}

.references-row {
  box-shadow: 0 2px 2px -1px grey;
  border-bottom: none !important;
}

#index {
  font-weight: 600;
  border-left: 1px solid var(--black);
}

tr:nth-child(3) > td:nth-child(1),
tr:nth-child(3) > td:nth-child(2),
tr:nth-child(3) > td:nth-child(3),
tr:nth-child(3) > td:nth-child(5),
tr:nth-child(3) > td:nth-child(10),
tr:nth-child(3) > td:nth-child(11) {
  width: 45px;
}

tr:nth-child(3) > td:nth-child(4),
tr:nth-child(3) > td:nth-child(7),
tr:nth-child(3) > td:nth-child(8),
tr:nth-child(3) > td:nth-child(9) {
  width: 80px;
}

tr > td[rowspan="8"] {
  border-right: 1px solid var(--black);
}

tr:nth-child(even),
tr:nth-child(7n + 3) + tr [rowspan="8"],
tr:nth-child(7n + 5) + tr [rowspan="8"],
tr:nth-child(7n + 7) + tr [rowspan="8"],
tr:nth-child(7n + 9) + tr [rowspan="8"],
tr [rowspan="4"]:nth-child(odd),
tr > td[rowspan="2"]:nth-child(5n - 4),
td[rowspan="2"] + td[rowspan="2"]:nth-child(5n + 2) {
  background-color: var(--shadow) !important;
}

tr [rowspan="8"],
tr [rowspan="4"]:nth-child(odd),
tr:nth-child(8n + 8) + tr [rowspan="2"],
tr:nth-child(8n + 2){
  border-bottom: 2.5px solid var(--black);
}
