:root {
  --black: #221f21;
  --red: #f44336;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../src/Fonts/Roboto.eot'); /* IE9 Compat Modes */
  src: url('../../../src/Fonts/Roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../src/Fonts/Roboto.woff') format('woff'), /* Modern Browsers */
       url('../../../src/Fonts/Roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  font-family: Roboto, Helvetica, Fallback, sans-serif;
}

.container {
  padding: 0 100px 0 100px;
  line-height: 1.6;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  padding: 6px 40px;
  background-color: darkslateblue;
  color: white;
  border: 2.5px solid var(--black);
  border-radius: 10px 10px 0 0;
  margin-bottom: 1px;
}

.title-left {
  font-size: 28px;
  font-weight: 400;
}

.main-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 2.5px solid var(--black);
  outline-style: none;
}

.header {
  display:flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.damned {
  background-color: var(--red);
  color: white;
  font-weight: 600;
  font-style: italic;
}

.references {
  font-weight: 400;
  font-style: italic;
}
th { 
  background-color: var(--black);
  color: white;
  padding: 13px 0 8px 0;
}

td {
  padding: 6px;
  border: 1px solid var(--black);
}

tr:nth-child(even),
tr:nth-child(7n + 2) + tr [rowspan="8"],
tr:nth-child(7n + 4) + tr [rowspan="8"],
tr:nth-child(7n + 6) + tr [rowspan="8"],
tr:nth-child(7n + 8) + tr [rowspan="8"] {
  background-color: #fdf0c433 !important;
}

tr [rowspan="8"],
tr [rowspan="4"]:nth-child(odd),
tr:nth-child(8n + 1) + tr [rowspan="2"],
tr:nth-child(8n + 3)  {
  border-bottom: 2.5px solid var(--black);
}

tr [rowspan="8"],
tr [rowspan="4"]:nth-child(even),
tr:nth-child(4n - 1) + tr [rowspan="2"] {
  background-color: white ;
}
